*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: inherit;
}
@font-face {
    font-family:'Mardoto-Regular' ;
    src: url(../fonts/Mardoto-Regular.ttf);
}
@font-face {
    font-family: "TimesNewRoman";
    src: local("TimesNewRoman"), url(../fonts/TimesNewRomanBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Vosketar";
    src: local("Vosketar"), url(../fonts/Vosketar.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family:'Mardoto-Regular' ;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.container{
    max-width: 560px;
    width: 100%;
}
.content-image{
    width: 100%;
    display: flex
;
flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.content-image img{
    max-width: 560px;
    width: 100%;
}
.content-title{
    display: flex
;
    height: 206px;
    position: absolute;
    top: 55%;
    left: 32%;
  

}
.content-title h1{
    font-size: 78px;
    font-weight: 400;
    font-family: TimesNewRoman, Vosketar;
    color: white;
}
.staticcontent{
    align-self: center;
    opacity: 0.7;
}
.girlcontent{
    align-self: flex-end;
}
.content-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 55px;
}
.content-name span{
    font-size: 58px;
    font-family: TimesNewRoman, Vosketar;
    font-weight: 700;
}
.content-calndar{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.content-calndar h1{
    font-size: 58px;
}

.calendar {
    display: grid
;
    grid-template-columns: repeat(6, 55px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.5s, background 0.5s;
}

.day:hover {
    transform: rotate(360deg);
    background: #555;
}

.red {
    background: red;
    color: white;
    animation: vortex 1s infinite alternate;
}

@keyframes vortex {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(10deg);
    }
}
.contentName-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    margin-top: 25px;
}
.contentName-title span{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
.contentMainImage{
    width: 100%;
    display: flex
;
flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    margin-bottom: 55px;
}
.contentMainImage img{
    max-width: 560px;
    width: 100%;
}
.contentBlock{
    position: absolute;
    top: 68%;
    left: 45%;
}
.contentBlock span:nth-child(2) {
    position: absolute;
    top: 87%;
}
.contentBlock span{
    font-size: 78px;
    color: white;
   font-weight: 400;
}
.content-program{
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    padding-inline: 10px;
}
.content-program h1{
    font-size: 68px;
    font-weight: 400;
    font-family: TimesNewRoman, Vosketar;
}
.contentprog{
    display: flex
    ;
        justify-content: flex-start;
        height: 250px;
        margin-top: 30px;
        gap: 70px;
       
}
.item{
    border: solid 1px rgba(0, 0, 0, 0.801);
    height: 100%;
}
.itemName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}
.itemName p{
    font-size: 48px;
    font-weight: 600;
    font-family: TimesNewRoman, Vosketar;
}
.a{
    font-size: 28px;
    font-weight: 500;
    font-family: TimesNewRoman, Vosketar;
}
.b{
    font-size: 18px;
    font-weight: 400;
    font-family: TimesNewRoman, Vosketar;
}
@media screen and (max-width:360px) {
    .contentprog{
        gap: 30px;
    }
}
.content-pageImage{
    max-width: 560px;
    width: 100%;
    display: flex
;
    margin-bottom: 55px;
    height: 450px;
    margin-top: 100px;
    justify-content: space-between;
    padding-inline: 36px;
}
.content-pageImage img{
    width: 48%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.w{
    align-self: flex-start;
}
.q{
    align-self: flex-end;
}
.content-end{
    width: 100%;
    display: flex
;
flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.content-end img{
    max-width: 560px;
    width: 100%;
}
.content-endText{
    position: absolute;
    top: 70%;
}
.content-endText span{
    font-size: 22px;
    color: black;
    font-weight: 400;
    text-align: center;
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end) forwards;
    border-right: 2px solid black; /* Կուրսորի էֆեկտ */
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}