*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: inherit;
}
@font-face {
    font-family:'Mardoto-Regular' ;
    src: url(../fonts/Mardoto-Regular.ttf);
}
@font-face {
    font-family: "TimesNewRoman";
    src: local("TimesNewRoman"), url(../fonts/TimesNewRomanBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Vosketar";
    src: local("Vosketar"), url(../fonts/Vosketar.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family:'Mardoto-Regular' ;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.container{
    max-width: 560px;
    width: 100%;
}
.content-image{
    width: 100%;
    display: flex
;
flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.content-image img{
    max-width: 560px;
    width: 100%;
}
.content-title{
    display: flex
;
    height: 206px;
    position: absolute;
    top: 55%;
    left: 32%;
  

}
.content-title h1{
    font-size: 78px;
    font-weight: 400;
    font-family: TimesNewRoman, Vosketar;
    color: white;
}
.staticcontent{
    align-self: center;
    opacity: 0.7;
}
.girlcontent{
    align-self: flex-end;
}
.content-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 55px;
}
.content-name span{
    font-size: 58px;
    font-family: TimesNewRoman, Vosketar;
    font-weight: 700;
}
.content-calndar{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.content-calndar h1{
    font-size: 58px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.5s, background 0.5s;
}

.day:hover {
    transform: rotate(360deg);
    background: #555;
}

.red {
    background: red;
    color: white;
    animation: vortex 1s infinite alternate;
}

@keyframes vortex {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(10deg);
    }
}